.criterion-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 3fr));
    grid-template-rows: repeat(1, minmax(0, 3fr));
    grid-gap: 10px;
  }
  .data-crit-row {
    grid-column: 1;
    grid-row: 1;
    padding: 10px;
    border: 1px solid rgb(209, 208, 208);
    border-radius: 4px;
  }
  .criterionList-row {
    grid-column: 2;
    grid-row: 1;
    padding: 10px;
    border: 1px solid rgb(209, 208, 208);
    border-radius: 4px;
  }
  /* Realizar Hide button*/
  input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  div {
    position: relative;
  }
  
  label {
    cursor: pointer;
  }
  label {
    position: relative;
    display: block;
  }
  label::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
  }
  .chatbot-msg {
    padding: 10px;
  
    background-color: rgb(158, 215, 241);
    border-radius: 4px;
  }
  .chatbot-msg-reply {
    max-height: 0;
    overflow: hidden;
  
    transition: max-height 0.4s ease;
  }
  .userOption {
    padding: 10px;
  
    background-color: rgb(52, 184, 245);
    border: 1px solid rgb(209, 208, 208);
    border-radius: 4px;
  }
  input[type="checkbox"]:checked ~ .userOption label::before {
    margin-left: -4px;
    margin-top: -4px;
  }
  
  input[type="checkbox"]:checked ~ .userOption ~ .chatbot-msg-reply {
    max-height: 100%;
  }
  
  .left-button {
    padding: 10px;
    text-align: right;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .triangle {
    margin-left: 15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: rgb(158, 215, 241) transparent transparent transparent;
  }
  
  .lessSpaceInBetween{
    margin-bottom: -20px;
  }
  
  .deleteOption{
    position:static;
    text-align: right;
    margin-top: -40px;
  
  }