<h1>Crear Acciones</h1>
<div class="example-form">
  <div *ngIf="actionNameIsEmpty" style="color: red">
    La accion requiere un nombre.
  </div>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Nombre accion</mat-label>
    <input matInput type="text" [(ngModel)]="actionName" (change)="validateNameAction()" placeholder="Ingrese un nombre"
      name="nombreAccion" required />
  </mat-form-field>
  <div *ngIf="actionType == 'Avatar'">
    <mat-form-field appearance="outline">
      <mat-label>Seleccione una accion a editar:</mat-label>
      <select matNativeControl ngModel [(ngModel)]="currentCriteriaEdit">
        <option [ngValue]="0">Nueva accion</option>
        <option [ngValue]="action" *ngFor="let action of actionList">
          {{ action.name }}
        </option>
      </select>
    </mat-form-field>

    <button mat-flat-button color="primary" (click)="setCurrentActionToEdit()">
      Editar accion
    </button>

  </div>
</div>

<div *ngIf="actionType == 'Chatbot'">
  <!---If Chatbot-->
  <div class="criterion-grid">
    <div class="data-crit-row">
      <h2>Crear Chatbot</h2>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label> Mensaje Inicial </mat-label>
        <input matInput [(ngModel)]="chatbotMessage" placeholder="Mensaje inicial chatbot" required />
      </mat-form-field>
      <mat-divider></mat-divider>
      Mensaje Opción:
      <form #saveOption="ngForm" (ngSubmit)="saveChatbotOption(saveOption.value)">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label> Mensaje Opcion </mat-label>
          <input matInput ngModel type="text" name="textOption" placeholder="Ingrese Opcion" required
            [(ngModel)]="messageUser" />
        </mat-form-field>

        <br />
        Tipo de respuesta:
        <mat-radio-group ngModel name="replyType" [(ngModel)]="replyType" required>
          <mat-radio-button value="imagen"> Imagen</mat-radio-button>
          <mat-radio-button value="texto"> Texto</mat-radio-button>
        </mat-radio-group>

        <br />

        Respuesta:
        <div *ngIf="replyType == 'imagen'">
          ImagenRespuesta:
          <input class="form-control form-control-sm" type="file" (change)="getImage($event)" name="file" />
          <div *ngIf="chatbotImagePreviewLoaded">
            <img [src]="chatbotImagePreview" width="200px" height="150px" style="border-radius: 20px" />
          </div>
        </div>
        <div *ngIf="replyType == 'texto'">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label> Mensaje Respuesta </mat-label>
            <input matInput ngModel type="text" placeholder="Ingrese Respuesta" name="textReply"
              [(ngModel)]="chatbotReply" />
          </mat-form-field>
        </div>
        <button mat-flat-button color="accent">Guardar opción</button>
      </form>
    </div>
    <div class="criterionList-row">
      <div class="chatbot-msg">
        {{ chatbotMessage }}
      </div>
      <br />

      <div *ngFor="let option of chatbotOptionList; index as i">
        <div>
          <input type="checkbox" id="{{ i }}" />
          <label class="userOption" for="{{ i }}">
            <!-- {{ option.textOption }} -->
            [ {{ i + 1 }} ]
            <div [innerHTML]="option.textOption"></div>
          </label>
          <div class="deleteOption">
            <button (click)="editChatbotOption(i)" mat-icon-button color="basic" matTooltip="Editar respuesta"
              [matTooltipPosition]="'above'">
              <mat-icon>create</mat-icon>
            </button>
            <button (click)="newChatbotReplyMain(i)" mat-icon-button color="basic" matTooltip="Agregar respuesta"
              [matTooltipPosition]="'above'">
              <mat-icon>add</mat-icon>
            </button>
            <button (click)="deleteChatbotOption(i)" mat-icon-button color="warn" matTooltip="Borrar opcion"
              [matTooltipPosition]="'above'">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <div class="chatbot-msg-reply">

            <div class="chatbot-msg">
              <div *ngIf="option.replyType == 'texto'">
                {{ option.textReply }}
              </div>
              <div *ngIf="option.replyType == 'imagen'">
                <img width="100%" max-height="200" [src] = 'option.filename'>
              </div>
            </div>

            <div class="triangle"></div>
            <img src="https://i.imgur.com/4XSQFLx.png" width="50px" height="50px"
              style="border-radius: 80px; background-color: white" />
            <div *ngFor="let optionLayerOne of option.optionsIn; index as j">
              <div>
                <input type="checkbox" id="{{ j }} + 100 * {{ i }}" />
                <label class="userOption" for="{{ j }} + 100 * {{ i }}">
                  <!-- {{ option.textOption }} -->
                  [ {{ i + 1 }},{{ j + 1 }} ]
                  <div [innerHTML]="optionLayerOne.textOption"></div>
                </label>
                <div class="deleteOption">
                  <button (click)="editChatbotOptionLayer(i, j)" mat-icon-button color="basic"
                    matTooltip="Editar respuesta" [matTooltipPosition]="'above'">
                    <mat-icon>create</mat-icon>
                  </button>
                  <button (click)="newChatbotReplyMainLayer(i, j)" mat-icon-button color="basic"
                    matTooltip="Agregar respuesta" [matTooltipPosition]="'above'">
                    <mat-icon>add</mat-icon>
                  </button>
                  <button (click)="deleteChatbotOptionLayer(i, j)" mat-icon-button color="warn"
                    matTooltip="Borrar opcion" [matTooltipPosition]="'above'">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
                <div class="chatbot-msg-reply">
                  <div class="chatbot-msg">
                    <div *ngIf="optionLayerOne.replyType == 'texto'">
                      {{ optionLayerOne.textReply }}
                    </div>
                    <div *ngIf="optionLayerOne.replyType == 'imagen'">
                      <img width="100%" max-height="200" [src] = 'optionLayerOne.filename'>
                    </div>
                  </div>
                  <div class="triangle"></div>
                  <img src="https://i.imgur.com/4XSQFLx.png" width="50px" height="50px"
                    style="border-radius: 80px; background-color: white" />
                  <div *ngFor="
                      let optionLayerTwo of optionLayerOne.optionsIn;
                      index as k
                    ">
                    <input type="checkbox" id="{{ k }} + 100* {{ j }} + 1000 * {{ i }}" />
                    <label class="userOption" for="{{ k }} + 100* {{ j }} + 1000 * {{ i }}">
                      <!-- {{ option.textOption }} -->
                      [ {{ i + 1 }},{{ j + 1 }},{{ k + 1 }} ]
                      <div [innerHTML]="optionLayerTwo.textOption"></div>
                    </label>
                    <div class="deleteOption">
                      <button (click)="editChatbotOptionLayerTwo(i, j, k)" mat-icon-button color="basic"
                        matTooltip="Editar respuesta" [matTooltipPosition]="'above'">
                        <mat-icon>create</mat-icon>
                      </button>

                      <button (click)="deleteChatbotOptionLayerTwo(i, j, k)" mat-icon-button color="warn"
                        matTooltip="Borrar opcion" [matTooltipPosition]="'above'">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                    <div class="chatbot-msg-reply">
                      <div class="chatbot-msg">
                        <div *ngIf="optionLayerTwo.replyType == 'texto'">
                          {{ optionLayerTwo.textReply }}
                        </div>
                        <div *ngIf="optionLayerTwo.replyType == 'imagen'">
                          <img width="100%" max-height="200" [src] = 'optionLayerTwo.filename'>
                        </div>
                        
                      </div>
                      <div class="triangle"></div>
                      <img src="https://i.imgur.com/4XSQFLx.png" width="50px" height="50px"
                        style="border-radius: 80px; background-color: white" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="left-button">
      <div *ngIf="editChatbot">
        <button mat-flat-button color="accent" (click)="EditChatbotAction()">
          Editar Chatbot
        </button>
      </div>
      <div *ngIf="!editChatbot">
        <button mat-flat-button color="accent" (click)="SaveAction('chatbot')">
          Guardar Chatbot
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="actionType == 'Avatar'">
  <!-- If Avatar-->
  <div class="criterion-grid">
    <div class="data-crit-row">
      <div class="example-form">
        <button (click)="boldAvatar()"><b>Bold</b></button>
        <button (click)="italicAvatar()"><i>Italic</i></button>
        <button (click)="underlineAvatar()"><u>Underline</u></button>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Texbox Mensaje </mat-label>
          <textarea matInput type="text" placeholder="Ingrese Texbox Mensaje" name="mensaje" [(ngModel)]="avatarText"
            (change)="validateMessageAvatar()" required></textarea>
        </mat-form-field>
      </div>
      <div *ngIf="actionAvatarMessageIsEmpty" style="color: red">
        El asistente requiere un mensaje.
      </div>

      <!-- <b>Imagen asistente</b>
      <input class="form-control form-control-sm" (change)="getImage($event)" type="file" name="file" /> -->
      <div class="left-button">
        <button mat-flat-button color="accent" (click)="saveTempAvatar()">
          Visualizar Avatar
        </button>
      </div>
    </div>
    <div class="criterionList-row">
      preview:
      <div *ngIf="previewAvatar">
        <app-avatar message=" {{avatarTextPreview}} " avatarImage="-"></app-avatar>
      </div>
      <div *ngIf="avatarImageLoaded">
        <img [src]="avatarImage" width="50px" height="50px" style="border-radius: 80px" />
      </div>
    </div>
  </div>

  <div class="left-button">
    <div *ngIf="editingAction">
      <button mat-flat-button color="accent" (click)="saveActionAvatar()">
        Editar Avatar
      </button>
    </div>
    <div *ngIf="!editingAction">
      <button mat-flat-button color="accent" (click)="saveActionAvatar()">
        Guardar Avatar
      </button>
    </div>
  </div>
</div>